.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 11rem;

    &__link {
        text-decoration: none;
        color: #45B29A;
        margin: 0 0 0 1.5em;
        font-size: 1.375rem;
        font-weight: 545;
    }

    &--active {
        color: #21564b;
    }

    &__list {
        display: flex;
    }

    &__avatar {
        height: 5.625rem;
        width: 5.625rem;
    }
}


