.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4em 6em;

    &__link {
        text-decoration: none;
        color: #45B29A;
        margin: 0 0 0 1em;
        font-weight: 400;
    }

    &--active {
        color: #21564b;
    }

    &__list {
        display: flex;
    }

    &__avatar {
        height: 80px;
        width: 80px;
    }
}


