h2 {
    color: #276791;
    font-size: 3.8rem;
    font-weight: 400;
}

h3 {
    font-size: 2rem;
    color: #0c6baa;
    font-weight: 400;

}

p {
    color: #545454;
    font-size: 31px;
    text-align: center;
    // line-height: 1.5;
    font-family: adobe-garamond-pro, serif;
    font-weight: 300;
    font-style: normal;
}

