.contact {
    &__pencil {
        height: 10.9375rem;
        width: 10.9375rem;
        padding-top: 6.25rem;
        margin-bottom: 50px;
    }

    &__section {
        background: #ddeded;

    }

    &__description {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 23.6375rem;
    }

    &__bio {
        width: 70%;
    }

    &__landscape {
        width: 65%;
        margin-top: 5.625rem;
    }

    &__title {
        padding-top: 5.625rem;
        margin-bottom: 3.75rem;
        color: #0c6baa;

        font-size: 6.8rem;
        font-weight: 400;
        font-family: Lemon Jelly Personal Use;
        text-align: center;
    }

    &__profession {
        color: #45b29a;
        font-size: 1.625rem;
        font-weight: 400;
    }

    
}




// // TODO fix below
// #contact__container {
//     position: relative;
// }