.home {
    &__logo {
        height: 10.9375rem;
        width: 10.9375rem;
        padding-top: 6.25rem;
    }
    &__logo-JS {
        height: 7-px;
        width: 70px;
    }

    &__section {
        background: #e0ebe8;
    }

    &__description {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 7.6375rem;
    }

    &__Work-details {
        margin-top: 200px;
    }

    &__bio {
        width: 40%;
    }

    &__landscape {
        width: 65%;
        margin-top: 5.625rem;
    }

    &__Mountain {
        width: 65%;
        margin-top: -22px;
    }


    &__title {
        padding-top: 2.625rem;
        color: #5066b0;
        font-size: 6.8rem;
        font-weight: 400;
        font-family: 'Indie Flower', cursive;
    }

    &__profession {
        color: #6c80c4;
        font-size: 1.625rem;
        font-weight: 400;
    }
        // cant style the button ??


    .Button:focus {
        outline:none;
        box-shadow: none;
    }
}
