.home {
    &__logo {
        height: 150px;
        width: 150px;
    }

    &__section {
        background: #e0ebe8;
    }

    &__description {
        margin-top: 8%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 20vh;
    }

    &__landscape {
        width: 65%;
        margin-top: 90px;
    }

    &__links {
        background-color :#c5ded7;
        padding-top: 150px;
    }

}