.messageButton {
    font-size: .8em;
    background: #45b29a;
    padding: 2em 16em 1em 4em;
    color: #1b7f69;
    text-decoration: none;
    margin: 1.5em 0 0;
    border-radius: 3px;
    font-weight: 400;
    border: 0;
    text-transform: uppercase;
}