.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 200px;

    &__link {
        text-decoration: none;
        color: #0c6baa;
        margin: 0 0 0 1.5em;
        font-size: 20px;
        font-weight: 500;
    }

    &--active {
        color: #21564b;
    }

    &__list {
        display: flex;
    }

    &__avatar {
        height: 85px;
        width: 85px;
    }
}


