.home {
    &__logo {
        height: 180px;
        width: 175px;
        padding-top: 6.25rem;
    }
    &__logo-JS {
        width: 70px;
    }

    &__section {
        // background: #e0ebeb;
        background: #ddeded;
    }

    &__description {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 122.2px;
    }

    &__Work-details {
        margin-top: 200px;
    }

    &__bio {
        width: 40%;
    }

    &__landscape {
        width: 75%;
        margin-top: 5px;
    }

    &__title {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 120px;
        color: #0c6baa;
        // color: #116ba7;
        //  color: #0a69a8;
        width: 800px;
        font-size: 150px;
        font-weight: 400;
        font-family: Lemon Jelly Personal Use;
    }

    &__profession {
        color: #0a69a8;
        font-size: 35x;
        font-weight: 400;
        margin: 10px;
    }

    &__info {
        width: 70%;

    }

    &__help {
        margin-top: 100px;
    }

    &__work-together {
        width: 80%;
        text-align: center;
    }

    &__contacting {
        width: 60%;
    }
        // cant style the button ??


    .Button:focus {
        outline:none;
        box-shadow: none;
    }
}
