.footer {
    height: 200px;
    background-color :#e0ebe8;
    display: flex;
    align-items: center;
    justify-content: center;

    &__logos {
        display: flex;
        justify-content: space-around;
        width: 50%;
    }
}